.content {
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    font-family: ArialMT;
    color: #000000
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 16pt;
    font-family: Arial-BoldMT;
    color: #000000
}

.link {
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    font-family: ArialMT;
    color: #0462c1
}

.sub {
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    font-family: Arial-BoldMT;
    color: #000000
}